<div class="row">
  <div class="col-md-4">
    <br>
    <h1>Hello, I'm Nathan.</h1>

    <br>
    <p>
       I'm a full stack web developer that utilizes creative problem solving and critical thinking to optimize user experience. I come from a background in business economics, which influences my ability to adapt  and quickly pick up technical concepts to produce designs catered to the users.
    </p><br>

    <h4>Technical Skills:</h4>

    <p>
    <strong>Methodology</strong>: Agile Development, Trello, Wireframing, Restful API's, CRUD<br>
    <strong>Languages</strong>: Javascript, Ruby, HTML5, CSS3 <br>
    <strong>Backend Frameworks</strong>: Node.js + Express, Rails <br>
    <strong>Front-End Frameworks</strong>: Angular.js <br>
    <strong>Front-End Libraries:</strong>: Matherialize, jQuery, Bootstrap, Sass <br>
    <strong>Databases:</strong>: PostgreSQL, MongoDB, Sequelize, Amazon Web Services <br>
    <strong>Version Control:</strong>: Git and GitHub <br>
  <br>


    <h4><strong>Education:</strong></h4>
    <p>
    General Assembly, Los Angeles - July 2016<br>
    Web Development Immersive Certificate of Completion<br>
    <br>
    California State University, Long Beach - July 2014<br>
    Bachelor of Art, Business Economics<br>
  </p>

  </div>
</div>
